<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src='https://kit.fontawesome.com/132e87df1f.js'></script>
  <title>music player</title>
</head>
<body>
  <!-- https://www.youtube.com/watch?v=QTHRWGn_sJw -->
<h1>awesome music player</h1>

<div class="music-container">
  <div class="music-info">
    <h4 id="title">Song</h4>
    <div class="progress-container">
      <div class="progress"></div>
    </div>
  </div>
  <audio src="" id="audio"></audio>

  <div class="image-container">
    <img src='https://source.unsplash.com/random/200x200/?music' alt='image' id="cover"/>
  </div>

  <div class="navigation">
    <button id="prev" class="action-btn">
      <i class="fas fa-backward"></i>
    </button>
    <button id="play" class="action-btn action-btn-big">
      <i class="fas fa-play"></i>
    </button>
    <button id="fwd" class="action-btn">
      <i class="fas fa-forward"></i>
    </button>
  </div>
</div>


</body>
</html>