<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src='https://kit.fontawesome.com/132e87df1f.js'></script>
  <title>music player</title>
</head>
<body>
<h1>Music player</h1>

<div class="music-container">
  <div class="music-info">
    <h4 id="title">Song</h4>
    <div class="progress-container">
      <div class="progress"></div>
    </div>
  </div>
  <audio src="" id="audio"></audio>

  <div class="image-container">
    <img src="" alt="" id="cover">
  </div>
</div>
</body>
</html>