/*
                    HEADER
================================================== */

h1 {
  text-align: center;
  font-size: 6rem;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $white;
  opacity: 0.5;
}
